body{
    background-image: url("../img/e328c2a68d3da0ace53cb15caaa42241.png")
}

#login{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.925);
    padding: 2%;
}
#top{
    margin-top: -3%;
    width: 98.3%;
    margin-left: 1%;
}
#up{
    margin-top: 8%;
}
#enc{
    margin-left: -2%;
    margin-top: -2.2%;
    width: 104.2%;
}

#toast-container {
    top: auto !important;
    right: 7%;
    bottom: 10%;
    left: auto !important;  
}