body{
    background-image: url("../img/e328c2a68d3da0ace53cb15caaa42241.png")
}

#bc{
    background-image: url("../img/f5.png");
    background-size: cover;
}
#nav{
    background-color: #4db6ac;
}

main{
    margin-top: -1.5%;
}

#mv{
    padding-left: 32px;
}

#mvd{
    padding-left: 48px;
}

.option:hover{
    color: #039be5 !important;
    text-decoration: underline;
}

.principal{
    color: #1976d2;
    margin-top: 2.5%;
}

hr{
    color: #1976d2;
    width: 75%;
}
#cont{
    margin-bottom: 0px !important;
}

#btn-img{
    margin-left: -8%;
}

input[type=file].hidden {
    color: transparent;
  }

.cambio{
    width: 100%;
    margin: auto;
    height: 130px;
}
#files{
    margin-left: 15%;
}

input[type=button] {
    color: white;
  }