body{
    background-image: url("../img/e328c2a68d3da0ace53cb15caaa42241.png")
}

#panel{
    background-color: #eceff1;
}

#toast-container {
    top: auto !important;
    right: 7%;
    bottom: 10%;
    left: auto !important;  
}

.option:hover{
    color: #039be5 !important;
    text-decoration: underline;
}

#login{
    background-color: #eceff1;
}

.toast{
    background-color: #d32f2f;
}

.btn-li{
    width: 15%;
    float: left;
}

.valor-li{
    width: 85%;
    float: left;
}

.c-item{
    background-color:#fff;
    width: 100%;
    padding: 2%;
    float: left;
    border-bottom:1px solid #e0e0e0
}

#listaSintomas{
    max-height: 150px;
    overflow-y: auto;
}

#diagnosticos{
    max-height: 445px;
    overflow-y: auto;
}

.card{
    height: 365px !important;
}